// rooms.js

h5.classRoomTitle {
    font-family: 'Gotham-Light';
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    text-align: left;
}

.classRomeTextContainer {
    display: flex;
    justify-content: space-between;
    p {
        font-family: 'Gotham-Light';
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }
}

.ClassRoomStatus {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    width: 117.45px;
    height: 25.44px;
    border-radius: 50px;
    &.disponible {
        background: rgba(0, 151, 124, 0.34);
    }
    &.occupe {
        background: rgba(208, 1, 1, 0.34);
    }
    &.reserve {
        background: rgba(254, 122, 0, 0.34);
    }
}

.DropdownMenu {
    width: 184px;
    height: 40px;
    display: inline;
    margin-right: 20px;
    border-radius: 0;
    cursor: pointer;
}

//brightness.js

.banner {
    position: relative;
}

.imageBanner {
    width: 100%;
    height: 302px;
}

.bannerContent {
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%,-20%);
    -webkit-transform: translate(-50%,-20%);
    transform: translate(-50%,-20%);
    margin: auto;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    color: black;
    align-items: center;
    h2, p {
        margin-bottom: 0;
        font-family: 'GothamBook';
    }
}

.bannerContentRightColumn {
    display: flex;
    p:first-child {
        margin-right: 18px;
    }
}

.ConnectedObjects {
    height: 400px;
}

.ConnectedObject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(45, 45, 45, 0.1);
    .icon-shape {
        width: unset;
        height: unset;
        svg {
            width: 0.65em;
        }
    }
    p {
        font-size: 14px;
        margin-bottom: 0;
        &:nth-child(2) {
            font-weight: bold;
        }
    }

}

.IntensityProgressBar {
    height: 30px;
    border-radius: 8px !important;
}

.HasMarginTop {
    margin-top: 20px;
}

.ChartPage:nth-child(2) {
    margin-top: 20px;
}